/* stylelint-disable custom-property-pattern */

:root {
  --colorDark: #212121;
  --colorMain: #f1e4b8;
  --colorSecondary: #b2422a;
  --colorWhite: white;
  --colorGray: #9c9c9c;
  --colorLightGray: #fafafa;
  --colorCancelGray: rgb(33 33 33 / 30%);
  --fontSmall: .75rem; /* 12px */
  --fontNormal: 1.13rem; /* 18px */
  --fontMedium: 1.25rem; /* 20px */
  --fontBig: 1.5rem; /* 24px */
  --fontBiggest: 1.63rem; /* 26px */
  --font: 'Roboto', sans-serif;
  --fontTitle: 'Playfair Display';
  --fontWeightRegular: 400;
  --fontWeightBold: 500;
  --fontWeightBlack: 900;
  --spacerSmall: .75rem; /* 12px */
  --spacerRegular: 1rem; /* 16px */
  --spacerBig: 1.88rem; /* 30px */
  --lineHeight: 130%;
}

@custom-media --only-small-screen (width >= 400px);
@custom-media --only-medium-screen (width >= 900px);
